<template>
    <div class='container'>
        <p style='padding: 10px 0px'>
            
        <div class='row' style='margin:auto'>

            <b-tabs type="is-toggle" expanded multiline class='sticky-tabs-page' v-model='selectedTag'>
                <b-tab-item  v-for='tag in availableTags' :label="tag == '' ? $t('local.tags.all') : $t('local.tags.' + tag)" :key='tag' :value='tag'>
                    <div class='container is-flex is-flex-wrap-wrap is-justify-content-space-around'>
                        <div class="gallery-card card box is-flex is-flex-direction-column is-justify-content-space-between"
                            style='width:120px;margin:5px'
                            v-for="element, index in elementsByTag[tag]" :key="'gallery-' + index"
                            @click='openModal(element)'
                            :data-symbol-preview="element.id">

                            <div class='card-image' :data-badge="element['isNew'] ? $t('BUTTONS.NEW') : ''">
                                <figure class="image contain-image">
                                    <lazy-load-image :src="`/static/${path}/thumbnails/${element.id}.webp`" :alt="element.description"/>
                                </figure>
                            </div>
                            <div class="card-content">  
                                {{ element.localLabel }}
                            </div>
                        </div>
                    </div>
                </b-tab-item>
            </b-tabs>
        </div>

        <b-loading :is-full-page="false" v-model="isLoading" :can-cancel="false"></b-loading>
        <b-modal v-if="selectedElement && !isLoading" v-model="isModalActive" :width="640" scroll="keep" :on-cancel='handleCancelModal'>
            <div class="card" style='padding: 15px'>
                <div class="card-image" style='padding: 15px, position: relative'>
                    <div :class="coloredSvgPreviewUrl ? 'checkerboard-background' : ''" :style="{
                        position: 'absolute',
                        top: (!isLoading ? (100 - selectedElement.displayedHeight)/2 : 0) + '%',
                        left: (!isLoading ? (100 - selectedElement.displayedWidth)/2 : 0) + '%',
                        width: (!isLoading ? selectedElement.displayedWidth : 100)  + '%',
                        height: (!isLoading ? selectedElement.displayedHeight : 100)  + '%' }">
                        <img :src="coloredSvgPreviewUrl ? coloredSvgPreviewUrl : previewUrl"  :alt="selectedElement.description" style='width: 100%'>
                    </div>
                    <div style="padding-top: 75%"></div>
                </div>
                <div class="card-content">
                    <div class="content">
                        {{ selectedElement.localLabel }}
                        <b-taglist>
                            <b-tag v-for="tag, index in tags" type="is-info" :key='index' >{{ $t('local.tags.' + tag) }}</b-tag>
                        </b-taglist>                
                    </div>
                    <hr v-if='isSvg'/>
                    <palette-picker v-if='isSvg' v-model='colors'/>
                </div>
                <footer class="card-footer">
                    <a v-if='isSvg' class="card-footer-item" @click='downloadPng'>{{ $t('EDIT.EXPORT.PNG') }}</a>
                    <a v-if='isPhoto' class="card-footer-item" @click='downloadJpg'>{{ $t('EDIT.EXPORT.JPG') }}</a>
                    <a v-if='isSvg' :href="coloredSvgPreviewUrl" class="card-footer-item" :download="selectedElement.id + '.svg'">{{ $t('EDIT.EXPORT.SVG') }}</a>
                    <router-link v-if='isTemplate'
                        :to="{ name: 'editor', params: { 'lang': $i18n.locale, 'templateId': selectedElement.id }}"
                        class="card-footer-item primary" :download="selectedElement.id + '.svg'">{{ $t('BUTTONS.START_EDITION') }}</router-link>
                </footer>
            </div>
        </b-modal>
    </div>
</template>

<script>
import PalettePicker from '@/components/pickers/PalettePicker.vue';
import LazyLoadImage from '@/components/lazyloadimage.vue';

import { loadSvg, colorSvgString } from '@/vida/components/svgutils.js';
import { DEFAULT_LOCALE } from '@/plugins/i18n';
import { exportComponentLabel } from '@/plugins/utils';
import { Canvg } from 'canvg';

export default {
    name: 'ColorableGallery',
    components: { PalettePicker, LazyLoadImage },
    props: {
        elements: {
            type: Array,
            default: () => {[]}
        },
        path: {
            type: String,
            default: ''
        },
        routePrefix: {
            type: String,
            default: ''
        },
        tagsQuery: {
            type: String,
        }
    },
    data: () => ({
        isModalActive: false,
        selectedElement: {},
        svgString: {},
        colors: {},
        isLoading: false,
        isSvgLoading: false,
        coloredSvgPreview: {},
        canvas: undefined,
    }),
    mounted() {
        if(!this.$route.params.symbolId) return;
        
        const element = this.elementsByTag[''].find((element) => element.id == this.$route.params.symbolId);
        if (!element) this.$router.push({name: this.routePrefix + 's', params: { lang: this.$i18n.locale }});

        this.openModal(element);
    },
    methods: {
        openModal(element) {
            if (!this.$route.params.symbolId) {
                this.$router.push({ name: this.routePrefix, params: { symbolId: element.id, lang: this.$i18n.locale }});
            }
            if (this.isLoading) return;
            this.isModalActive = true;
            if (this.selectedElement.id === element.id) return;

            this.isLoading = true;
            this.selectedElement = element;

            const ratio = element.width / element.height;
            if (ratio < 4/3) { // portrait
                this.selectedElement.displayedHeight = 100;
                this.selectedElement.displayedWidth = 100*ratio*3/4;
            } else { // paysage
                this.selectedElement.displayedHeight = 100/ratio*4/3; 
                this.selectedElement.displayedWidth = 100;
            }
            this.loadElementImage(element); // ????
        },
        loadElementImage(element) {
            if (this.isSvg) {
                const colors = {};
                for (let color of Object.keys(this.selectedElement.colors)) {
                    colors[color] = this.selectedElement.colors[color];
                }
                loadSvg(`/static/${this.path}/${element.filename}`).then((svgString) => {
                    this.isLoading = false;
                    this.svgString = svgString;
                    this.colors = colors;
                });

            } else {
                this.isLoading = false;

            }
        },
        handleCancelModal() {
			this.$router.push({name: this.routePrefix + 's', params: { lang: this.$i18n.locale }});
        },
        downloadPng() {
            console.assert(this.isSvg);
            if (!this.isSvg) return;
            if (!this.coloredSvgPreview) return;
            if(!this.canvas) this.canvas = window.document.createElement('canvas');
            
            const ctx = this.canvas.getContext('2d');
            const canvgElement = Canvg.fromString(ctx, this.coloredSvgPreview.string);

            const widthRatio = 1000/this.selectedElement.width;
            const heightRatio = 1000/this.selectedElement.height;
            const ratio = Math.max(widthRatio, heightRatio);
            canvgElement.resize(this.selectedElement.width*ratio, this.selectedElement.height*ratio, 'xMidYMid meet');
            canvgElement.render().then(() => {
                const url = this.canvas.toDataURL({ mimeType: 'image/png', quality: 1 });
                const link = document.createElement('a');
                link.download = `${this.selectedElement.id}.png`;
                link.href = url;
                document.body.appendChild(link);
                link.click();

                // // cleanup temporary elements
                document.body.removeChild(link);
            });
        },
        downloadJpg() {
            console.assert(this.isPhoto);
            if (!this.isPhoto) return;
            const link = document.createElement('a');
            link.download = `${this.selectedElement.id}.jpg`;
            link.href = this.previewUrl;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        },
        addTag(elementId, tag) {
            for (let k=0; k<this.elements.length; ++k) {
                if (this.elements[k].id !== elementId) continue;
                const tags = (this.elements[k].tags ? this.elements[k].tags + ',' : '') + tag;
                this.elements[k].tags = tags;
                this.selectedElement.tags = tags;
            }
        },
        defaultTag() {
            if (this.availableTags.length > 0) 
                return this.availableTags[0];
            return undefined;
        }
    },
    computed: {
        selectedTag: {
            get: function() {
                const query = this.$router.currentRoute.query;
                if (!query) return this.defaultTag();
                
                const tag = this.$router.currentRoute.query.tag;
                if (!this.availableTags.includes(tag)) {
                    this.$router.replace({ query: { tag: undefined } })
                    return this.defaultTag();
                }
                return tag;
            },
            set: function(newValue) {
                this.$router.replace({ query: { tag: newValue } })
            }
        },
        elementsByTag() {
            const results = {};
            results[''] = [];
            this.elements.map((element) => {
                const augmentedElement = { ...element, localLabel: exportComponentLabel(element, this.$i18n.locale, DEFAULT_LOCALE)}
                results[''].push(augmentedElement);
                if (element['tags'] === '') return;
                const tags = element['tags'].split(',');
                for (const tag of tags) {
                    if (!results[tag]) results[tag] = [];
                    results[tag].push(augmentedElement);
                }
            });
            return results;
        },
        availableTags() {
            return Object.keys(this.elementsByTag);
        },
        tags() {
            if (!this.selectedElement || !this.selectedElement.tags) return [];
            return this.selectedElement.tags.split(',');
        },
        isPhoto() {
            if (!this.selectedElement || !this.selectedElement.filename) return false;
            return this.selectedElement.filename.endsWith('.jpg') || this.selectedElement.filename.endsWith('.jpeg');
        },
        isSvg() {
            if (!this.selectedElement || !this.selectedElement.filename) return false;
            return this.selectedElement.filename.endsWith('.svg') || this.selectedElement.filename.endsWith('.svgz');
        },
        isTemplate() {
            if (!this.selectedElement || !this.selectedElement.filename) return false;
            return this.selectedElement.filename.endsWith('.json');
        },
        previewUrl() {
            return `/static/${this.path}/${this.selectedElement.preview}`
        },
        coloredSvgPreviewUrl() {
            if (!this.isSvg) return undefined;
            if (!this.coloredSvgPreview || !this.coloredSvgPreview.url) return undefined;
            return this.coloredSvgPreview.url;
        }
    },
    watch: {
        // whenever question changes, this function will run
        colors: {
            handler: function (newColors) {
                if (!this.isSvg) return;
                if (!this.svgString) return;
                this.coloredSvgPreview = colorSvgString(this.svgString, newColors);
            },
            deep: true
        }
    }
}
</script>

<style lang="scss">
.sticky-tabs-page nav {
	position: sticky;
	top: 38px;
	position: -webkit-sticky;
	z-index: 30; // b-loader has z-index: 29
	background: white;
	padding: 20px 0px 20px 0px;
}

.checkerboard-background {
    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%), linear-gradient(135deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%), linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size: 25px 25px;
    background-position: 0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px;
    background-repeat: repeat;
}
</style>